@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{
    
    --background: #000000;
    --bgnews: #1e1c21;
    --red: #C20000;
    --blue: #001F70;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    
    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: var(--font);
    font-size: 16px;
}
img{
    width: 100%;
}
.header-top{
    width: 100%;
    height: 5em;
    /* background-color: aliceblue; */
}
.content{
    width: 95%;
    max-width: 75em;
    height: 100%;
    /* background-color: aqua; */
    margin: auto;
}
.flex-spbt-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-spbt-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top img{
    max-width: 21.18em;
}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;

}
.menu a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0.9em 0.66em;
}
.menu a:hover{
    background-color: var(--red);
    text-shadow: 0 0 20px #fff;
    text-decoration: underline;
}
#header-bars{
    display: none;
}
.menu-cabecalho-response{
    display: none;
}
.banner{
    position: relative;
}
.banner-container{
    width: 100%;
    height: 100%;
    /* background-color: rgba(127, 255, 212, 0.39); */
    position: absolute;
    top: 0;
}
.banner-content{
    width: 95%;
    height: 100%;
    /* background-color: rgba(255, 235, 205, 0.384); */
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.banner-text h1{
    font-size: 3.65em;
}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    color:#fff;
    font-size: 1.80em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--red);
    padding: 0.5em 1.2em;
    border-radius: 0.75em;
    margin-top: 2em;
}
.banner-text a:hover{
    background-color: var(--blue);
    color: white;
}
.games{
    width: 100%;
    height: 7.5em;
    /* background-color: yellow; */
}
.games ul{
    width: 100%;
    /* background-color: red; */
    list-style-type: none;
}
.games img{
    width: 170px;
  
}
.games ul a:hover img{
    transition: 0.5s;
    transform:scale(1.5);
}

.about {
    height: 31.25em;
    background-color: var(--blue);

    position: relative;
}

.about-angulation {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.angulation {
    height: 24.125em;
    width: 100%;
    background-color: var(--background);

    transform: skewY(-4deg);   
}

.container-about {
    color: white;
    position: absolute;
    top: 0
}

.content-about {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-about {
    width: 50%;
    text-align: justify;
}

.texto-about h2 {
    margin-bottom: 1em;
    font-size: 2.18em;
}

.texto-about p {
    font-size: 1.25em;
}

.content-about img {
    max-width: 31.875em;
}
.partidas{
    color: white;
    width: 100%;
    height: 7.5em;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.content-partidas{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ao-vivo{
    width: 30%;
    margin: 0 6%;
    display: flex;
}

.proximas-partidas{
    width: 70%;
    display: flex;
}

.ao-vivo h2, .proximas-partidas h2{
    margin-right: 15px;
    text-transform: uppercase;
}

.confrontos{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 4px solid white;
    transition: 0.2s;
    opacity: 1;
}
.confrontos p, img{
    padding: 0 1px;
} 

.bg-newa{
    width: 100%;
    height: auto;
    background-color: var(--bgnews);
}
.news{
    width: 70%;
    height: 90%;
}
.news h2, .next-games h2{
    color: white;
    margin: 1em 0em;
    font-size: 2.1875em;
}
.next-games{
    width: 25%;
    height: 90%;
}
.content-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cardnews{
    width: 15em;
    height: 22,5em;
    background-color: var(--gradient);
    color: white;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(97, 97, 97), 0px 0px 30px rgb(0, 0, 0);
}
.cardnews h3{
    padding: 0.5em 0.6em;
}
.cardnews p{ 
    padding: 0em 0.6em;
}
.next-games-bg{
    width: 90%;
    height: auto;
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.4em 0;
}
.next-games-match{
    width: 100%;
    height: 6.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: white;
}
.teams{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.next-games-match div{
    display: flex;
    align-items: center;
}
.next-games-match img{
    max-width: 2.5em;
}
.next-games-match > p{
    margin-top: 1em;
}
.footer{
    width: 100%;
    height: 10em;
}

.footer-flex{
    /* background-color: blue; */
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

.footer-links{
    /* background-color: rgb(143, 110, 66); */
    height: 100%;
    width: 100px;
}

.footer-links ul, a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

.footer-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-img img{
    max-width: 20em;
}

.footer-img p{
    padding-top: 15px;
}

.footer-direitos{
    justify-items: center;
}

.footer-direitos a{
 padding: 0px 20px;
 display: flex;
 flex-direction: column;
 font-size: 20px;
}

.footer-links a:hover{
    color: var(--red);
    text-decoration: underline;
}

.footer-img a:hover{
    color: var(--red);
}

.footer-direitos a:hover{
    color: var(--red);
}


/* Até 1199px */
@media screen and (max-width: 74.93em){
    
}
/* Até 991px */
@media screen and (max-width: 61.93em){
    .cabecalho img{
        width: 100%;
        max-width: 15em;
        display: block;
    }

    .content{
        width: 93%;
    }

    .flex-content{
        justify-content: space-between;
    }
    
    .menu-cabecalho {
        display: none;
    }
    
    #header-bars{
        display: inline;
        font-size: 40px;
        color: white;
    }

    .menu-cabecalho-response {
        display: none;
    }

    .menu-cabecalho-response a{
        width: 100%;
        display: block;
        text-align: center;
        padding: 0.4em 0.22em;
        color: white;
        font-size: 1em;
        text-transform: uppercase;
        transition: 0.1s;
        border: 2px solid rgb(194, 0, 0, 0.3);
    }

    .menu-cabecalho-response a:hover{
        border: 2px solid rgb(194, 0, 0, 1);
    }

    
}
/* até 767px */
@media screen and (max-width: 47.93em){
    .header-top img{
        max-width: 14em;
    }
    .banner-content{
        align-items: center;
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .banner-text{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }
    .banner-container{
        width: 100%;
        height: 22.857em;
        position: absolute;
        top: 0;
        background-color: #130813ad;
    }
    .banner-text h1{
        font-size: 3.3em;
    }
    .banner-text p{
        font-size: 1em;
    }
    .banner-text a{
        color: white;
        text-decoration: none;
        padding: 0.5em 1.5em;
        margin-top: 30px;
        background-color: var(--red);
        border-radius:  0.7em;
        font-size: 1.7em;
    }
    .games{
        width: 100%;
        height: 7em;
    }
    .games img{
        max-height: 65px;
        max-width: 8.4em;
    }
    

    .content-about img{
        display: none;
        height: 100%;
    }

    .text-about {
        width: 80%;
        text-align: justify;
        margin: 10%;
    }
}
/* Até 576px */
@media screen and (max-width: 36em){
    .content img{
        width: 45%;
    }
    #header-bars{
        font-size: 25px;
    }

     .banner{
        height: auto;
     }

     .banner-text{
         height: 190px;
         margin: 40px 0;
     }

    .banner-text h1{
        font-size: 50px;
    }

    .banner-text p{
        font-size: 16px;
    }

    .banner-text a{
        font-size: 25px;
        padding: 5px 30px;
        top: 20px;
    }

    .games{
        height: auto;
    }

    .content-games{
        margin: 20px 0;
    }

    #league-legends-games{
        display: none;
    }
}